<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mt-4" style=" margin-top: 100px;">About Me</h1>
                <p class="p-de mt-3 text-center" style=" margin-top: 100px;">my introduction</p>
            </div>
            <div class="p-profile">
            </div>
            <div class="col-sm-7">
                <p class="p-de mt-3">An enthusiastic computer science student with a relentless passion for learning and a reservoir of creative ideas, eager to delve deeper into the world of technology and innovation.</p>
                <div class="d-flex align-items-center" style="margin-top: 20px;">
                    <span class="about__info-title"><strong>+02</strong></span>
                    <p class="about__info-title"><strong>+01</strong></p>
                    <p class="about__info-title"><strong>01</strong></p>
                </div>
                <div class="d-flex align-items-center">
                    <span class="about__info-title"><strong>Projects</strong></span>
                    <p class="about__info-title"><strong>experience</strong></p>
                    <p class="about__info-title"><strong>companies worked</strong></p> 
                </div>
                <div>
                    <button type="button" class="btn btn-info" (click)="downloadPDF()">
                        
                        <i class="fas fa-download"></i> 
                        dowload cv</button>
                </div>
            </div>
        </div>
    </div>
</section>
