<section id="home">
    <div class="container">
        <div class="row">
            <div class="p-profile ">
                
            </div>
            <div class="col-sm-7"> 
                <span class="p-tag">Étudiant en Ingénierie des Systèmes d'Information - 1ère année</span>
                <h1 class="mt-4">Amairi Mokhtar</h1>
                <p class="p-des mt-3">Bienvenue sur mon portfolio ! Je suis Mokhtar Amairi, un étudiant enthousiaste en ingénierie des systèmes d'information, actuellement en première année de master. Ma passion pour le développement web m'a conduit à entreprendre un voyage passionnant à la découverte de ce vaste domaine.</p>
                <a href="#" class="p-readmore">read more <img src="assets/img/images.png" alt="icone for readmore" width="20" /></a>
            </div>
        </div>
    </div>
</section>